.textareaWrapper {
  position: relative;
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--indent-2);
}

.label {
  color: var(--color-base-500);
  font-size: var(--font-size-sm);
  font-weight: 500;
  text-align: start;
}

.textarea {
  border: 1px solid var(--color-black);
  border-radius: var(--border-radius-sm);
  outline: none;
  font: inherit;
  resize: vertical;
  min-height: calc(var(--line-height) * 4em);
}

.error {
  position: absolute;
  left: var(--indent-3);
  top: 100%;
  color: var(--color-error);
  font-weight: 500;
}

.base {
  padding: var(--indent-3);
  font-size: var(--font-size-base);
}

.large {
  padding: var(--indent-4);
  font-size: var(--font-size-lg);
}

.textareaWrapper:has(.error) .textarea {
  border-color: var(--color-error);
}
