.inputWrapper {
  position: relative;
  inline-size: 100%;
  display: flex;
  align-items: center;
  gap: var(--indent-2);
}

.label {
  color: var(--color-base-500);
  font-size: var(--font-size-sm);
  font-weight: 500;
}

.input {
  position: relative;
  flex-grow: 1;
  border: 1px solid var(--color-black);
  border-radius: var(--border-radius-sm);
  outline: none;
  font: inherit;
}

.error {
  position: absolute;
  left: var(--indent-3);
  top: 100%;
  color: var(--color-error);
  font-weight: 500;
  line-height: 2;
}

.base {
  padding: var(--indent-3);
}

.inputWrapper:has(.error) .input {
  border-color: var(--color-error);
}
