/* ===== ДИЗАЙН-ТОКЕНЫ UI-КАТАЛОГА ===== */
/* Это единый источник переменных для всех компонентов. */

:root {
  /* ----- ЦВЕТА ----- */
  --color-black: #000000;
  --color-white: #ffffff;

  --color-base-300: #272b3b;
  --color-base-400: #192144;
  --color-base-500: #1d2e5b;
  --color-base-600: #161c35;

  --color-primary-50: #edeff6;
  --color-primary-100: #cce5fa;
  --color-primary-200: #a8d2f4;
  --color-primary-300: #aed0eb;
  --color-primary-400: #7ebaeb;
  --color-primary-500: #4d99d6;
  --color-primary-600: #468ac1;

  --color-neutral-50: #edeff6;
  --color-neutral-100: #e2e5f1;
  --color-neutral-200: #d6daed;
  --color-neutral-300: #d9d9d9;
  --color-neutral-400: #b2b2b2;
  --color-neutral-500: #444444;
  --color-neutral-600: #3f4251;

  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-error: #ff5c23;

  /* ----- ТИПОГРАФИКА ----- */
  --font-family-sans: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  --font-family-mono: 'Roboto Mono', SFMono-Regular, Menlo, monospace;

  --font-size-sm: 1.25rem;
  /* 20px */
  --font-size-base: 1.5rem;
  /* 24px */
  --font-size-lg: 2rem;
  /* 32px */
  --font-size-xl: 2.25rem;
  /* 36px */

  /* ----- ОТСТУПЫ (SPACING) ----- */
  --base-indent: 0.25rem;
  /* 4px */
  --indent-1: var(--base-indent);
  /* 4px */
  --indent-2: calc(var(--base-indent) * 2);
  /* 8px */
  --indent-3: calc(var(--base-indent) * 3);
  /* 12px */
  --indent-4: calc(var(--base-indent) * 4);
  /* 16px */
  --indent-6: calc(var(--base-indent) * 6);
  /* 24px */
  --indent-8: calc(var(--base-indent) * 8);
  /* 32px */

  /* ----- ГРАНИЦЫ (BORDERS) ----- */
  --border-radius-sm: 0.25rem;
  /* 4px */
  --border-radius-md: 0.5rem;
  /* 8px */
  --border-radius-lg: 1.25rem;
  /* 20px */

  /* ----- ТЕНИ (SHADOWS) ----- */
  --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1);

  /* ----- ПРОЗРАЧНОСТЬ (OPACITY) ----- */

  --opacity-base: 0.3;
  --opacity-disabled: 0.1;


  /* ----- АНИМАЦИЯ ----- */
  --transition-fast: 150ms ease-in-out;
  --transition-base: 250ms ease-in-out;
  --transition-all: all 2s;
}
