.iconButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.icon {
  flex-shrink: 0;
}


.iconButton[data-icon-position="right"] {
  flex-direction: row-reverse;
}
