.counterWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--indent-4);
  line-height: 18px;
  font-weight: 500;

}

.label {
  font-size: var(--font-size-sm);
  text-transform: uppercase;
}

.counter {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--indent-6);
  gap: var(--indent-8);
  border: 1px solid var(--color-neutral-200);
  border-radius: 4px;
}

.button {
  padding: 0;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: var(--color-neutral-300);
  cursor: pointer;
}

.input {
  max-inline-size: 20px;
  padding: var(--base-indent);
  font: inherit;
  font-weight: 500;
  text-align: center;
  border: none;
  outline: none;
  color: var(--color-base-500);
}

.error {
  position: absolute;
  top: 100%;
  color: var(--color-error);
  font-weight: 500;
  line-height: 2;
  text-transform: initial;
}

.counterWrapper:has(.error) .counter {
  border-color: var(--color-error);
}
